* {
  box-sizing: border-box;
  /* outline: 1px solid rgb(247, 35, 35) !important;
	outline-offset: -1px; */
}

body {
  display: flex;
  place-content: center;
  margin: 0;
  background-color: #262626;
  height: 100vh;
}
#root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100%;
  border: 1px solid blue;
  width: 300px;
}

header {
  text-align: center;
}

header .heading {
  color: white;
  font-size: 1.4rem;
}

header .sub-heading {
  color: #8b8274;
  font-size: 0.9rem;
}

.comment {
  background-color: rgb(184, 60, 241);
  width: 250px;
  min-height: 50px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: italic;
  margin-top: 30px;
}

.programming-languages {
  display: flex;
  gap: 3px;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.programming-languages .pl-name {
  font-size: 0.8rem;
  border-radius: 2px;
  padding: 1px;
}

.random-name {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.random-name .alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6665659e;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid wheat;
}

.v-keyboard {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin: 15px auto 50px;
}

.v-keyboard button:nth-child(22) {
  /* start at column 2 */
  grid-column: 2;
}

.v-keyboard button {
  background-color: rgb(224, 224, 10);
  border: none;
  width: 24px;
  height: 24px;
}

.v-keyboard button:hover {
  cursor: pointer;
}
