@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  scrollbar-gutter: stable;
  /* overflow-y: auto; */
  /* outline: 1px solid rgb(247, 35, 35) !important;
  outline-offset: -1px; */
}

body {
  display: flex;
  font-family: "Hanken Grotesk";
  place-content: center;
  margin: 0;
  background-color: #262626;
  height: 100vh;
}

#root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100%;
  width: 594px;
  padding-bottom: 73px;
}

header {
  text-align: center;
  margin-top: 73px;
  max-width: 352px;
}

header .heading {
  color: white;
  font-size: 20px;
  margin: 0;
}

header .sub-heading {
  margin: 0;
  color: #8b8274;
  font-size: 14px;
}

.comment-container {
  min-height: 59px;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f9f4da;
  background-color: #7a5ea7;
  border: 1px #323232 dashed;
  width: 352px;
  height: 100%;
  border-radius: 4px;
  /* font-style: italic; */
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
}

.comment span:nth-child(1) {
  font-size: 20px;
  font-weight: 400;
}
.comment span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}

.programming-languages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5px;
  margin-top: 36px;
  width: 253px;
  font-weight: 600;
}

.programming-languages .pl-name {
  font-size: 12px;
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}

.dead::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: #00000087;
}

.random-name {
  display: flex;
  gap: 2px;
  margin-top: 36px;
  color: #f9f4da;
  font-size: 18px;
  font-weight: 600;
}

.random-name .alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  width: 40px;
  height: 40px;
  border-bottom: 1.5px solid wheat;
}

.v-keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  margin: 36px auto;
}

.v-keyboard button:nth-child(21) {
  /* start at column 3 */
  grid-column: 3;
}

.v-keyboard button {
  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Hanken Grotesk";

  width: 40px;
  height: 40px;
}

.v-keyboard button:hover {
  cursor: pointer;
}

.new-game {
  width: 228px;
  height: 40px;
  background-color: #11b5e5;
  color: #1e1e1e;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-family: "Hanken Grotesk";
  padding: 9px;
  margin-bottom: 73px;
  font-weight: 600;
}
.new-game:hover {
  cursor: pointer;
}

.not-allowed:hover {
  cursor: not-allowed;
}
