@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  /* scrollbar-gutter: stable; */
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-Hanken: "Hanken Grotesk", Arial, sans-serif;
  --color-262626: #262626;
}

body {
  font-family: var(--font-Hanken);
}

@layer utilities {
  .chip-lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: #00000087;
  }
}
